<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cj.mybatis.dao.first.EmployeeMapper">

  <select id="getEmployeeById" resultType="Employee">
    select * from pe_employee where id = #{id}
  </select>
  
  <select id="listEmployees" resultType="Employee">
  	select * from pe_employee
  </select>
  
  <update id="updateEmployee">
  	update pe_employee
  	<set>
  		<if test="name!=null">name=#{name},</if>
  		<if test="remark!=null">remark=#{remark},</if>
  		<if test="departmentId!=null">department_id=#{departmentId}</if>
  	</set>
  	where id=#{id}
  </update>
  
  <insert id="insertEmployee" useGeneratedKeys="true" keyProperty="id">
  	insert into pe_employee(name,remark,department_id) values (#{name},#{remark},#{departmentId})
  </insert>
  
  <delete id="deleteEmployeeById">
  	delete from pe_employee where id=#{id}
  </delete>

</mapper>
