<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<conversionRule conversionWord="mycolor" converterClass="com.cj.mybatis.util.LogColor" />
	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %mycolor(%msg%n)
            </Pattern>
        </layout>
    </appender>

    <logger name="com.cj.mybatis" level="DEBUG" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>